@model IEnumerable<Player>

<h2>List of Players</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Category</th>
            <th>BiddingAmount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <tr>
                <td>@player.Id</td>
                <td>@player.Name</td>
                <td>@player.Age</td>
                <td>@player.Category</td>
                <td>@player.BiddingAmount</td>
                <td>
                    @Html.ActionLink("Edit","Edit",new{Id=@player.Id})
                   
                </td>
                <td> @Html.ActionLink("Delete","DeleteConfirmed",new{Id=@player.Id})</td>
            </tr>
        }
    </tbody>
</table>

<div class='text-center'>
@Html.ActionLink("Create","Create")<br>
@Html.ActionLink("List","DisplaysAllPlayers")<br>
@Html.ActionLink("Find","Find")<br>
@Html.ActionLink("DisplayPlayers","DisplayPlayers")<br>
@Html.ActionLink("DisplayTeams","DisplayTeams")<br>

</div>